.tab {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
}
.start{
    margin-top: 5px;
    margin-bottom: 5px;
}
.pink{
    color: rgb(255, 34, 255);
}
.purple{
    color: rgb(143, 61, 224);
}
.yellow{
    color: rgb(255, 255, 46);
}
.white{
    color: rgb(255, 255, 255); 
}
.con{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sizecon{
    background-color: rgb(39, 35, 48);
}
